<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="~{fragments/styles}"></div>
<body>
<div class="container">
  <div th:replace="~{fragments/pageHeader}"></div>

  <h1 class="text-center my-4">Рибка на продаж</h1>

  <a sec:authorize="hasRole('ROLE_ADMIN')"
     class="btn btn-success" href="/fish/create">Додати рибки</a>

  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Товар</th>
      <th>Ціна</th>
      <th>Дата вилову</th>
      <th>Фото</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fish : ${fishlist}">
      <td th:text="${fish.id}"></td>
      <td th:text="${fish.name}"></td>
      <td th:text="${fish.price} + '₴'"></td>
      <td th:text="${fish.catchDate.toString().substring(0,10)}"></td>
      <td>
        <th:block th:each="picture : ${fish.pictures}">
          <div class="image-container">
            <img th:src="@{'images/'+${picture.imageFileName}}" alt="..." width="100">
          </div>
        </th:block>
      </td>
      <td>
        <a sec:authorize="hasRole('ROLE_ADMIN')"
           class="btn btn-primary btn-sm" th:href="@{/fish/addPicture(fishId=${fish.id})}"
           >Добавити картинку</a>
      </td>
      <td>
        <a sec:authorize="hasRole('ROLE_ADMIN')"
           class="btn btn-danger btn-sm" th:href="@{/fish/delete(id=${fish.id})}"
           onclick="return confirm('Ви впевнені?')">Прибрати рибу</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div th:replace="~{fragments/scripts}"></div>

</body>
</html>