<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{fragments/styles}"></div>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto rounded border p-4 m-4">
      <h2 class="text-center mb-5">Будь ласка, залогіньтесь</h2>
      <div class="row mb-3 text-danger" th:if="${param.error}">
        Неправильний користувач чи пароль.
      </div>
      <div class="row mb-3 text-warning" th:if="${param.logout}">
        Ви вийшли із застосунку.
      </div>

      <form th:action="@{/login}" method="post">
        <div class="row mb-3">
          <label class="col-sm-4 col-form-label">Користувач</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="username" placeholder="Користувач"/>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-4 col-form-label">Пароль</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" name="password" placeholder="Пароль"/>
          </div>
        </div>
        <div class="row mb-3">
          <div class="offset-sm-4 col-sm-4 d-grid">
            <button type="submit" class="btn btn-primary">Увійти</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div th:replace="~{fragments/scripts}"></div>

</body>
</html>